

<nav class="navbar navbar-expand-lg navbar-light container-fluid">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="#"
    ><img
      id="FIS logo"
      src="https://images.careerbuilder.vn/employer_folders/lot0/45600/94049logofis_ngang_trongsuot.png"
      alt="FIS Logo"
      draggable="false"
      height="50"
  /></a>
    <ul class="navbar-nav mr-auto">
    </ul>

    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="onSubmit()">Đăng xuất</button>
  </div>
</nav>