

 <div id="default-sidebar" class="z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 orange" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray">
      
       <ul class="space-y-2 font-medium">
          <li>
             <a routerLink="/dashboard" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <span class="ms-3">Quản lý NV </span>
             </a>
          </li>
          <li>
             <a routerLink="/dashboard/checkin" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                
                <span class="flex-1 ms-3 whitespace-nowrap">Báo cáo chi tiết </span>
             </a>
          </li>
          <li>
             <a routerLink="/auth" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               
                <span class="flex-1 ms-3 whitespace-nowrap">Login</span>
             </a>
          </li>
          <li>
             <a routerLink="/dashboard/department" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              
                <span class="flex-1 ms-3 whitespace-nowrap">Phòng ban</span>
             </a>
          </li>
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
             
                <span class="flex-1 ms-3 whitespace-nowrap">Products</span>
             </a>
          </li>
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               
                <span class="flex-1 ms-3 whitespace-nowrap">Sign In</span>
             </a>
          </li>
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               
                <span class="flex-1 ms-3 whitespace-nowrap">Sign Up</span>
             </a>
          </li>
       </ul>
    </div>
 </div>

 

 
 
 